<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chatroom.name }} Chat</title>
    <!-- Add Bootstrap CDN link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>{{ chatroom.name }} Chat Room</h1>

        <div id="chat-messages" class="border p-3 mt-3" style="max-height: 300px; overflow-y: scroll;">
            {% for message in messages %}
                <strong>{{ message.user.username }}:</strong> {{ message.message_content }} <br>
            {% endfor %}
        </div>

        <form method="post" class="mt-3">
            {% csrf_token %}
            <div class="input-group">
                <input id="message-input" type="text" name="message" placeholder="Enter message" class="form-control">
                <div class="input-group-append">
                    <button id="send-button" type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>

        {{ chatroom.slug|json_script:"json-chatroomname" }}
        {{ request.user.username|json_script:"json-username" }}
    </div>

    
<script>
    const chatRoomName = JSON.parse(document.getElementById('json-chatroomname').textContent)
    const username = JSON.parse(document.getElementById('json-username').textContent)

    const chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/' + chatRoomName + '/'
);


    chatSocket.onmessage= function(e){
        // console.log('This is message')
        const data = JSON.parse(e.data)
        if(data.message){
            console.log('Reveived message to client is', data.message)
            let html =  ''data.username + ' : ' + data.message + "<br>"
            document.getElementById('chat-messages').innerHTML += html


        }else{
            alert ('The message was empty')
        }
        
    }
    chatSocket.onclose= function(e){
        console.log('Socket closed')
    }

    document.getElementById('send-button').onclick = function(e){
        e.preventDefault()
        const messageInput = document.getElementById('message-input')
        const message = messageInput.value
        console.log(username + ' said ' + message)

        chatSocket.send(JSON.stringify({
            'message':message,
            'username':username,
            'room':chatRoomName
        }))
        messageInput.value = ''

    }
</script>



</body>
</html>
