{{ chatroom.name }}
{{ request.user.username }}
<form method="post">
    {% csrf_token %}
    <input id='message-input' type="text" name="message" placeholder="Enter message">
    <button id='send-button' type="submit">Send</button>
</form>

{{ chatroom.slug|json_script:"json-chatroomname" }}
{{ request.user.username|json_script:"json-username"  }}


<script>
    const chatRoomName = JSON.parse(document.getElementById('json-chatroomname').textContent)
    const chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/' + chatRoomName + '/'
);


    chatSocket.onmessage= function(e){
        console.log('This is message')
    }
    chatSocket.onclose= function(e){
        console.log('Socket closed')
    }

    document.getElementById('send-button').onclick = function(e){
        const user = JSON.parse(document.getElementById('json-username').textContent)
        e.preventDefault()
        const messageInput = document.getElementById('message-input')
        const message = messageInput.value
        console.log(user + 'said' + message)
        messageInput.value = ''
    }
</script>