{{ chatroom.name }}
<form method="post">
    {% csrf_token %}
    <input id='message-input' type="text" name="message" placeholder="Enter message">
    <button id='send-button' type="submit">Send</button>
</form>

{{ chatroom.slug|json_script:"json-chatroomname" }}

<script>
    const chatRoomName = JSON.parse(document.getElementById('json-chatroomname').textContent)
    const chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/' + chatRoomName + '/'
);


    chatSocket.onmessage= function(e){
        console.log('This is message')
    }
    chatSocket.onclose= function(e){
        console.log('Socket closed')
    }

    document.getElementById('send-button').onclick = function(e){
        pr
    }
</script>